<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.stockreporter.monitor_intraday</string>

    <key>ProgramArguments</key>
    <array>
        <string>__PROJECT_DIR__/scripts/run_monitor.sh</string>
        <string>intraday</string>
    </array>

    <key>StartInterval</key>
    <integer>1800</integer>

    <key>WorkingDirectory</key>
    <string>__PROJECT_DIR__</string>

    <key>StandardOutPath</key>
    <string>__PROJECT_DIR__/logs/launchd_monitor_intraday.log</string>

    <key>StandardErrorPath</key>
    <string>__PROJECT_DIR__/logs/launchd_monitor_intraday.err</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__NODE_BIN_DIR__:/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
        <key>LANG</key>
        <string>ko_KR.UTF-8</string>
    </dict>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
